<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Welcome to Task Manager</h1>
        <div id="quote-container">
            <p id="inspirational-quote"><%= quote%></p>
            <span id="quote-author">- <%= author%></span>
        </div>
    </header>
    <a href="/addTask">
        <button id="add-task-btn">Add Task</button>
    </a>
    <a href="/viewTasks">
        <button id="view-tasks-btn">View Tasks</button>
    </a>
    <script></script>
</body>
</html>
