<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Tasks</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Task List</h1>
    <div id="tasks-container">
        <%- table%>
    </div>
    <a href="/remove">Clear all tasks</a>
    <a href="/">Back to Home</a>
    <script></script>
</body>
</html>
